<h1><b>Khám phá & Tiền xử lý dữ liệu</b></h1>

<hr/>

<h3><b>Install & Import</b></h3>

Cài đặt và import những thư viện cần thiết cho phần khám phá, tiền xử lý dữ liệu.

In [1]:
#Cài đặt các thư viện

In [ ]:
#Import các thư viện
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import ast

## Khám phá dữ liệu

### Đọc dữ liệu từ file csv vào dataframe

In [3]:
data_df = pd.read_csv('data/raw_data.csv')
data_df.head()

,jobId,jobTitle,jobUrl,userId,companyLogo,alias,createdOn,approvedOn,expiredOn,lastUpdatedOn,...,emailAddress,isMobileHotJob,isMobileTopJob,isBoldAndRedJob,isUrgentJob,isUrgentJobM,onlineOn,visibilityDisplay,priorityOrder,nearestGeoLoc
0,1581202,Project Management Manager - Attractive Salary...,NaN,5975282,https://images.vietnamworks.com/pictureofcompa...,project-management-manager-attractive-salary,NaN,2022-11-18T15:59:04+07:00,2022-12-18T23:59:59+07:00,NaN,...,NaN,False,False,False,False,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00,NaN
1,1593683,Production Supervisor,NaN,5975282,https://images.vietnamworks.com/pictureofcompa...,production-supervisor-351,NaN,2022-11-18T09:38:08+07:00,2022-12-18T23:59:59+07:00,NaN,...,NaN,False,False,False,False,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00,NaN
2,1594103,[Datatech Beeginner] Chuyên Viên Đảm Bảo An Ni...,NaN,417756,https://images.vietnamworks.com/pictureofcompa...,datatech-beeginner-chuyen-vien-dam-bao-an-ninh...,NaN,2022-11-18T18:08:52+07:00,2022-12-18T23:59:59+07:00,NaN,...,NaN,True,True,False,True,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00,NaN
3,1589116,"Trưởng Bộ Phận Tổng Hợp Báo Cáo, Phòng Kế Hoạc...",NaN,2859613,https://images.vietnamworks.com/pictureofcompa...,truong-bo-phan-tong-hop-bao-cao-phong-ke-hoach...,NaN,2022-11-04T09:59:37+07:00,2022-12-04T23:59:59+07:00,NaN,...,NaN,True,True,False,False,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00,NaN
4,1589145,Lập Trình Viên Java C,NaN,1465669,https://images.vietnamworks.com/pictureofcompa...,lap-trinh-vien-java-c-1-1,NaN,2022-11-04T10:40:07+07:00,2022-12-04T23:59:59+07:00,NaN,...,NaN,True,True,False,False,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00,NaN

### Lấy những cột dữ liệu có ý nghĩa và có thể khai thác

In [4]:
list_drop = ['jobUrl','createdOn','lastUpdatedOn','lastSyncedOn','companyProfile',
        'companySizeId','contactName', 'createdBy', 'isOnline', 'isActive',
        'isApproved','isUnpaidDisable', 'isCompleted','isShowLogoInSearch',
        'jobDescription', 'jobRequirement','jobLevelId','languageSelectedId',
        'redirectTo', 'requiredCoverLetter', 'address', 'languageId',
        'locations', 'canonical', 'isShowContact','salaryRangeId', 'requiredResume',
        'companySizeVI','languageSelectedVI', 'prettySalary', 'nearestGeoLoc', 
        'emailAddress',]
data_df = data_df.drop(list_drop, axis = 1)
data_df.head()

,jobId,jobTitle,userId,companyLogo,alias,approvedOn,expiredOn,companyName,companyId,isAnonymous,...,durationDays,numOfApplications,isMobileHotJob,isMobileTopJob,isBoldAndRedJob,isUrgentJob,isUrgentJobM,onlineOn,visibilityDisplay,priorityOrder
0,1581202,Project Management Manager - Attractive Salary...,5975282,https://images.vietnamworks.com/pictureofcompa...,project-management-manager-attractive-salary,2022-11-18T15:59:04+07:00,2022-12-18T23:59:59+07:00,Công Ty TNHH Công Nghệ Welco Việt Nam,313962,False,...,30,24,False,False,False,False,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00
1,1593683,Production Supervisor,5975282,https://images.vietnamworks.com/pictureofcompa...,production-supervisor-351,2022-11-18T09:38:08+07:00,2022-12-18T23:59:59+07:00,Công Ty TNHH Công Nghệ Welco Việt Nam,313962,False,...,30,7,False,False,False,False,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00
2,1594103,[Datatech Beeginner] Chuyên Viên Đảm Bảo An Ni...,417756,https://images.vietnamworks.com/pictureofcompa...,datatech-beeginner-chuyen-vien-dam-bao-an-ninh...,2022-11-18T18:08:52+07:00,2022-12-18T23:59:59+07:00,Ngân Hàng Thương Mại Cổ Phần Quân Đội - MB,2332,False,...,30,0,True,True,False,True,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00
3,1589116,"Trưởng Bộ Phận Tổng Hợp Báo Cáo, Phòng Kế Hoạc...",2859613,https://images.vietnamworks.com/pictureofcompa...,truong-bo-phan-tong-hop-bao-cao-phong-ke-hoach...,2022-11-04T09:59:37+07:00,2022-12-04T23:59:59+07:00,Ngân Hàng TMCP Đại Chúng Việt Nam,136607,False,...,30,10,True,True,False,False,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00
4,1589145,Lập Trình Viên Java C,1465669,https://images.vietnamworks.com/pictureofcompa...,lap-trinh-vien-java-c-1-1,2022-11-04T10:40:07+07:00,2022-12-04T23:59:59+07:00,Tập Đoàn MK - MK Group,60453,False,...,30,3,True,True,False,False,False,2022-11-26T11:34:00+07:00,False,2022-11-26T11:34:00

### Số dòng và cột của dữ liệu

In [5]:
num_rows = data_df.shape[0]
num_cols = data_df.shape[1]
print(num_rows)
print(num_cols)

8216
36

### Kiểm tra dữ liệu có các dòng bị lặp không

In [6]:
def check_duplicated(data):
    check = data.duplicated().sum()
    if check == 0:
        print('Dữ liệu không bị lặp!')
    else:
        print('Có dòng bị lặp, kiểm tra lại!')
check_duplicated(data_df)

Có dòng bị lặp, kiểm tra lại!

### Loại bỏ các dòng bị lặp

In [7]:
data_df = data_df.drop_duplicates()
check_duplicated(data_df)

Dữ liệu không bị lặp!

### Kiểu dữ liệu của mỗi cột. Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [8]:
col_dtypes = pd.Series(data_df.dtypes)
col_dtypes

jobId                 int64
jobTitle             object
userId                int64
companyLogo          object
alias                object
approvedOn           object
expiredOn            object
companyName          object
companyId             int64
isAnonymous            bool
isSalaryVisible        bool
isShowLogo             bool
salary                int64
salaryMax             int64
salaryMin             int64
typeWorkingId         int64
skills               object
benefits             object
workingLocations     object
industries           object
jobLevel             object
jobLevelVI           object
companySize          object
languageSelected     object
simpleServices       object
services             object
durationDays          int64
numOfApplications     int64
isMobileHotJob         bool
isMobileTopJob         bool
isBoldAndRedJob        bool
isUrgentJob            bool
isUrgentJobM           bool
onlineOn             object
visibilityDisplay      bool
priorityOrder        object
dtype: object

Ở đây chúng ta thấy xuất hiện một vấn đề đối với kiểu dữ liệu của cột ***"companySize"***. Kiểu dữ liệu ở đây nên có kiểu số, nhưng hiện tại đang là `object`.

In [9]:
data_df['companySize'].unique()

array(['100-499', '1,000-4,999', '500-999', '25-99', nan, 'Over 50,000',
       '5,000-9,999', '10,000-19,999', '10-24', '20,000-49,999',
       'Less Than 10'], dtype=object)

Ta cần đưa dữ liệu này về dạng số để có thể tiếp tục khám phá.

## Tiền xử lý dữ liệu

Ở bước này, ta cần mã hóa cột ***"companySize"*** về dạng số để có thể tiếp tục khám phá với quy ước như sau:
- "Less Than 10" $\to$ (0,10)
- "Over 50,000" $\to$ (50000,100000)
- Từ "10-24" $\to$ (10,24)
- Từ "25-99" $\to$ (25,99)
- Từ "100-499" $\to$ (100,499)
- Từ "500-999" $\to$ (500,999)
- Từ "1,000-4,999" $\to$ (1000,4999)
- Từ "5,000-9,999" $\to$ (5000,9999)
- Từ "10,000-19,999" $\to$ (10000,19999)
- Từ "20,000-49,999" $\to$ (20000,49999)
- Không có dữ liệu $\to$ NaN

In [10]:
def convert_companySize(val):
    if(val == 'Less Than 10'):
        return (0,10)
    elif (val == "10-24"):
        return (10,24)
    elif (val == "25-99"):
        return (25,99)
    elif (val == "100-499"):
        return (100,499)
    elif (val == "500-999"):
        return (500,999)
    elif (val == "1,000-4,999"):
        return (1000,4999)
    elif (val == "5,000-9,999"):
        return (5000,9999)
    elif (val == "10,000-19,999"):
        return (10000,19999)
    elif (val == "20,000-49,999"):
        return (20000,49999)
    elif (val == "Over 50,000"):
        return (50000,100000)
    return np.nan

In [11]:
data_df['companySize'] = data_df['companySize'].apply(convert_companySize)

## Quay lại bước khám phá dữ liệu

#### Tìm hiểu về các cột có kiểu object

In [12]:
def object_dtype(s):
    dtypes = set()
    s.apply(lambda x : dtypes.add(type(x)))
    return dtypes

In [13]:
list_object= list(col_dtypes.loc[col_dtypes.values == object].index)
list_type = []
for i in list_object:
    list_type.insert(len(list_type), object_dtype(data_df[i]))
type_object = pd.Series(list_type,list_object)
type_object

jobTitle                               {<class 'str'>}
companyLogo           {<class 'str'>, <class 'float'>}
alias                                  {<class 'str'>}
approvedOn                             {<class 'str'>}
expiredOn                              {<class 'str'>}
companyName                            {<class 'str'>}
skills                                 {<class 'str'>}
benefits                               {<class 'str'>}
workingLocations                       {<class 'str'>}
industries                             {<class 'str'>}
jobLevel                               {<class 'str'>}
jobLevelVI                             {<class 'str'>}
companySize         {<class 'tuple'>, <class 'float'>}
languageSelected                       {<class 'str'>}
simpleServices        {<class 'str'>, <class 'float'>}
services              {<class 'str'>, <class 'float'>}
onlineOn                               {<class 'str'>}
priorityOrder                          {<class 'str'>}
dtype: object

**Ta thấy rằng**
- Đưa các cột: ***approvedOn, expiredOn, onlineOn, priorityOrder*** về `datetime` để tiếp tục khám phá thêm ở các cột này
- Các cột ***companyLogo, simpleServices, services, companySize*** có thêm kiểu `float`, kiểm tra thì `float` ứng với `NaN`

## Tiền xử lý dữ liệu

#### Chuyển dtype các cột **"approvedOn", "expiredOn", "onlineOn", "priorityOrder"** về `datetime`

In [14]:
data_df['approvedOn'] = pd.to_datetime(data_df['approvedOn'])
data_df['expiredOn'] = pd.to_datetime(data_df['expiredOn'])
data_df['onlineOn'] = pd.to_datetime(data_df['onlineOn'])
data_df['priorityOrder'] = pd.to_datetime(data_df['priorityOrder'])

## Quay lại bước khám phá dữ liệu

### Với mỗi cột có kiểu dữ liệu dạng numeric, ta tìm hiểu sự phân bố các giá trị

Ta xếp các cột datetime vào nhóm numeric. Do vậy, các cột có thể thuộc nhóm numeric là: "jobId", "userId", "companyId", "typeWorkingId", "salary", "salaryMax","salaryMin","approvedOn", "expiredOn", "onlineOn", "priorityOrder", "numOfApplications", "durationDays". Tuy nhiên, các cột "jobId", "userId", "companyId", "typeWorkingId" là mã được đánh dưới dạng số nên thực tế chỉ có các cột salary", "salaryMax", "salaryMin", "approvedOn", "expiredOn", "onlineOn", "priorityOrder", "numOfApplications", "durationDays" là thuộc numeric.

Vơi mỗi cột numeric, ta sẽ tính tỉ lệ phần trăm giá trị thiếu(từ 0 - 100), min, max là các dòng và các cột sẽ là "salary", "salaryMax","salaryMin","approvedOn", "expiredOn", "onlineOn", "priorityOrder", "numOfApplications", "durationDays".

In [15]:
col_info = ["salary", "salaryMax","salaryMin","approvedOn", "expiredOn", "onlineOn", "priorityOrder", "numOfApplications", "durationDays"]
row_info = ['missing_ratio','min','max']
nume_col_profiles_df = pd.DataFrame(columns = col_info, index = row_info)


def find_info(col_name):
    missing_ratios = (data_df[col_name].isna().sum() / len(data_df) * 100)
    min_value = data_df[col_name].min()
    max_value = data_df[col_name].max()
    return missing_ratios, min_value, max_value

for name in col_info:
    nume_col_profiles_df[name] = find_info(name)
nume_col_profiles_df
nume_col_profiles_df

,salary,salaryMax,salaryMin,approvedOn,expiredOn,onlineOn,priorityOrder,numOfApplications,durationDays
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,2022-10-27 07:47:46+07:00,2022-11-26 23:59:59+07:00,2022-10-27 09:10:43+07:00,1970-01-01 07:00:00,0.0,30.0
max,150000000.0,150000000.0,100000000.0,2022-11-26 15:11:25+07:00,2022-12-26 23:59:59+07:00,2022-11-26 15:11:25+07:00,2022-11-26 11:34:00,459.0,30.0

Có giá trị không hợp lệ trong mỗi cột không? (không xét giá trị thiếu)

Ở cột "salaryMax","salaryMin" có thể xảy ra các giá trị không hợp lệ khi giá trị tại cột "salaryMin" > giá trị tương ứng tại cột "salaryMax".

Với cột "salary", giá trị không hợp lệ cũng có thể xuất hiện khi giá trị tại cột "salary" < giá trị tương ứng tại "salaryMin" hoặc > giá trị tương ứng tại "salaryMax"

In [16]:
def count_invalid_salary(df):
    return df[(df.salary != np.nan) 
    & (df.salaryMin != np.nan) 
    & (df.salaryMax != np.nan) 
    & ((df.salary < df.salaryMin) | (df.salary < df.salaryMax))].count()['salary']

In [17]:
def count_invalid_salaryMin(df):
    return df[(df.salary != np.nan) 
    & (df.salaryMin != np.nan) 
    & (df.salaryMax != np.nan) 
    & ((df.salaryMin > df.salary) | (df.salaryMin > df.salaryMax))].count()['salaryMin']

In [18]:
def count_invalid_salaryMax(df):
    return df[(df.salary != np.nan) 
    & (df.salaryMin != np.nan) 
    & (df.salaryMax != np.nan) 
    & ((df.salaryMax < df.salary) | (df.salaryMax < df.salaryMin))].count()['salaryMax']

In [19]:
print(count_invalid_salary(data_df))
print(count_invalid_salaryMin(data_df))
print(count_invalid_salaryMax(data_df))

0
133
133

Do số lượng các giá trị không hợp lệ là khá ít so với số lượng dữ liệu nên ta có thể xóa đi các trường giá trị này.

## Tiền xử lý dữ liệu

Ta sẽ xóa đi những dòng dữ liệu chứa các giá trị không hợp lệ ở trên

In [20]:
data_df = data_df.drop(data_df[(data_df['salary'] != np.nan) 
    & (data_df['salaryMin'] != np.nan) 
    & (data_df['salaryMax'] != np.nan) 
    & (data_df['salary'] < data_df['salaryMin']) | (data_df['salary'] > data_df['salaryMax']) | (data_df['salaryMax'] < data_df['salaryMin'])].index)

## Quay lại bước khám phá dữ liệu

### Với mỗi cột có kiểu dữ liệu dạng categorical, ta tìm hiểu sự phân bố các giá trị

Ngoài các cột có dữ liệu thuộc nhóm numeric đã nêu ở trên ta xét các cột còn lại.

Với mỗi cột categorical, ta thực hiện tính % giá trị thiếu(từ 0 - 100), số lượng giá trị khác nhau(không xét giá trị thiếu), list/array các giá trị khác nhau(không xét giá trị thiếu) và lưu kết quả vào`cate_col_profiles_df`. Dataframe này có 3 dòng là "missing_ratio", "num_diff_vals", "diff_vals"; và có các cột là các cột dữ liệu thuộc nhóm categorical.

In [21]:
data_df.columns

Index(['jobId', 'jobTitle', 'userId', 'companyLogo', 'alias', 'approvedOn',
       'expiredOn', 'companyName', 'companyId', 'isAnonymous',
       'isSalaryVisible', 'isShowLogo', 'salary', 'salaryMax', 'salaryMin',
       'typeWorkingId', 'skills', 'benefits', 'workingLocations', 'industries',
       'jobLevel', 'jobLevelVI', 'companySize', 'languageSelected',
       'simpleServices', 'services', 'durationDays', 'numOfApplications',
       'isMobileHotJob', 'isMobileTopJob', 'isBoldAndRedJob', 'isUrgentJob',
       'isUrgentJobM', 'onlineOn', 'visibilityDisplay', 'priorityOrder'],
      dtype='object')

In [22]:
col_names = ['jobId', 'jobTitle', 'userId', 'companyLogo', 'alias', 'companyName',
            'companyId', 'isAnonymous','isSalaryVisible', 'isShowLogo','skills','benefits',
            'workingLocations', 'industries', 'jobLevel','jobLevelVI', 'simpleServices', 
            'services', 'isMobileHotJob','isMobileTopJob', 'isBoldAndRedJob', 'isUrgentJob',
            'isUrgentJobM', 'visibilityDisplay',]
row_names = ["missing_ratio", "num_diff_vals", "diff_vals"]
cate_col_profiles_df = pd.DataFrame(columns=col_names,index=row_names)

def info_col(col_name):
    missing_ratios = data_df[col_name].isna().sum()/len(data_df)*100
    num_diff = data_df[col_name].dropna().nunique()
    diff_value = list(data_df[col_name].dropna().unique())
    return missing_ratios, num_diff, diff_value

for name in col_names:
    cate_col_profiles_df[name] = info_col(name)
cate_col_profiles_df

,jobId,jobTitle,userId,companyLogo,alias,companyName,companyId,isAnonymous,isSalaryVisible,isShowLogo,...,jobLevel,jobLevelVI,simpleServices,services,isMobileHotJob,isMobileTopJob,isBoldAndRedJob,isUrgentJob,isUrgentJobM,visibilityDisplay
missing_ratio,0.0,0.0,0.0,4.126274,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,80.909769,10.328113,0.0,0.0,0.0,0.0,0.0,0.0
num_diff_vals,8046,7071,3173,2973,8046,3334,3173,2,2,2,...,5,5,6,7210,2,2,2,2,2,2
diff_vals,"[1581202, 1593683, 1594103, 1589116, 1589145, ...",[Project Management Manager - Attractive Salar...,"[5975282, 417756, 2859613, 1465669, 4394304, 1...",[https://images.vietnamworks.com/pictureofcomp...,"[project-management-manager-attractive-salary,...","[Công Ty TNHH Công Nghệ Welco Việt Nam, Ngân H...","[313962, 2332, 136607, 60453, 243840, 34798, 3...","[False, True]","[False, True]","[True, False]",...,"[Manager, Experienced (non-manager), Fresher/E...","[Trưởng phòng, Nhân viên, Mới Tốt Nghiệp, Giám...","[['isUrgentJob'], ['isUrgentJobM', 'isUrgentJo...","[[{'serviceCode': 'TP', 'startOn': '2022-10-14...","[False, True]","[False, True]","[False, True]","[False, True]","[False, True]","[False, True]"

Tại đây ta thấy cần phải biến đổi/thêm một số cột để biểu diễn dữ liệu được tốt hơn

Với cột "typeWorkingId" ta xem sự phân bổ của các giá trị

In [32]:
type_working_id_df = data_df[['typeWorkingId']]
type_working_id_df = type_working_id_df.groupby('typeWorkingId').count()
type_working_id_df

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7]

Các trường dữ liệu tại cột "typeWorkingId" là dạng số và có giá trị phân bổ từ 1 -> 7.

Tuy nhiên nếu để giá trị như vậy thôi thì không có nhiều ý nghĩa lắm, người đọc sẽ không hiểu nội dung chính xác của nó đang mô tả gì. Vì vậy ta cần bổ sung thêm 1 cột mới "typeWorkingName" để làm rõ điều này.

Ngoài ra tại các cột "skills", "benefits", "workingLocations", "industries", giá trị chứa một `dictionary array`. Trong đó mỗi `dictionary` chứa các `key` khác nhau song các `key` này không bổ trợ thông tin lẫn nhau quá nhiều, ta cũng chỉ cần chọn ra một cặp `key-value` để đại diện cho nó. Do vậy, để đơn giản hóa dữ liệu, ta sẽ chuyển từ `dictionary array` đến `string/int array` với mỗi `string/int` tương ứng với một `value` được chọn ra từ cặp `key-value` điển hình của mỗi phần tử `dictionary`.

Ví dụ tại cột "skills", ta quan sát giá trị của các trường này

In [24]:
pd.set_option('display.max_colwidth', None)
skill_df = data_df[['skills']]
skill_df.head()

                                                                                                                                                                                                                                                                                                                                                                                        skills
0                                     [{'skillId': 100, 'skillWeight': 100, 'skillName': 'English'}, {'skillId': 8, 'skillWeight': 100, 'skillName': 'Project Management'}, {'skillId': 540, 'skillWeight': 100, 'skillName': 'Communication'}, {'skillId': 338123, 'skillWeight': 100, 'skillName': 'OEM Management'}, {'skillId': 390616, 'skillWeight': 100, 'skillName': 'ISO Standards'}]
1                                                       [{'skillId': 224, 'skillWeight': 100, 'skillName': 'Tiếng Anh'}, {'skillId': 3078, 'skillWeight': 100, 'skillName': 'Giám Sát Sản Xuất'}, {'skillId': 64, 'skillWeight': 100, 'skillName': 'Sản Xuất'}, {'skillId': 339, 'skillWeight': 100, 'skillName': 'Điện Tử'}, {'skillId': 704693, 'skillWeight': 100, 'skillName': 'Quản Lý'}]
2                                                                         [{'skillId': 98, 'skillWeight': 100, 'skillName': 'Java'}, {'skillId': 75026, 'skillWeight': 100, 'skillName': '.NET'}, {'skillId': 710627, 'skillWeight': 100, 'skillName': 'DevOps'}, {'skillId': 22172, 'skillWeight': 100, 'skillName': 'Cloud'}, {'skillId': 903150, 'skillWeight': 100, 'skillName': 'Kafka'}]
3                                                                                                                                                                                                                                                                                                                              [{'skillId': 88, 'skillWeight': 100, 'skillName': 'Ngân Hàng'}]
4  [{'skillId': 252908, 'skillWeight': 100, 'skillName': 'Lập Trình Viên / Software Developer'}, {'skillId': 15287, 'skillWeight': 100, 'skillName': 'IT Phần Cứng'}, {'skillId': 2343, 'skillWeight': 100, 'skillName': 'Java Spring'}, {'skillId': 754054, 'skillWeight': 100, 'skillName': 'Develop Employees'}, {'skillId': 329, 'skillWeight': 100, 'skillName': 'Software Engineering'}]

Giá trị của các trường của cột "skills" là một `dictionary array` với mỗi phần tử `dictionary` chứa các `key` *skillId*, *skillWeight*, *skillName*. Ta sẽ chỉ lấy `value` của `key` *skillName* để đại diện cho mỗi phần tử trong `array`.

## Tiền xử lý dữ liệu

Dựa trên việc tìm hiểu tại **VietnamWorks**, ta thêm cột "typeWorkingName" với quy tắc sau:

- Với giá trị là 1 tại cột "typeWorkingId", ta có giá trị tương ứng tại cột "typeWorkingName" là **Full-time**
- Với giá trị là 2 tại cột "typeWorkingId", ta có giá trị tương ứng tại cột "typeWorkingName" là **Part-time**
- Với giá trị là 3 tại cột "typeWorkingId", ta có giá trị tương ứng tại cột "typeWorkingName" là **Internship**
- Với giá trị là 4 tại cột "typeWorkingId", ta có giá trị tương ứng tại cột "typeWorkingName" là **Online jobs**
- Với giá trị là 5 tại cột "typeWorkingId", ta có giá trị tương ứng tại cột "typeWorkingName" là **Freelancer**
- Với giá trị là 6 tại cột "typeWorkingId", ta có giá trị tương ứng tại cột "typeWorkingName" là **Seasonal**
- Với giá trị là 7 tại cột "typeWorkingId", ta có giá trị tương ứng tại cột "typeWorkingName" là **Other**

In [25]:
def convert_typeWorkingName(id):
    if (id == 1):
        return 'Full-time'
    elif (id == 2):
        return 'Part-time'
    elif (id == 3):
        return 'Internship'
    elif (id == 4):
        return 'Online jobs'
    elif (id == 5):
        return 'Freelancer'
    elif (id == 6):
        return 'Seasonal'
    else:
        return 'Other'

In [26]:
data_df['typeWorkingName'] = [convert_typeWorkingName(x) for x in data_df['typeWorkingId']]

Với các cột ""skills", "benefits", "workingLocations", "industries", ta chọn ra giá trị điển hình cho mỗi phần tử trong mảng để đưa về một kết quả dễ quan sát hơn.

Tại cột "skills" ta sẽ lấy `value` của `key` **skillName** làm giá trị.

In [27]:
data_df['skills'] = data_df['skills'].apply(lambda x: list(map(lambda u:u['skillName'],ast.literal_eval(x))))

Tại cột "benefits" ta sẽ lấy `value` của `key` **benefitName** làm giá trị.

In [28]:
data_df['benefits'] = data_df['benefits'].apply(lambda x: list(map(lambda u:u['benefitName'],ast.literal_eval(x))))

Tại cột "workingLocations" ta sẽ lấy `value` của `key` **cityName** làm giá trị.

In [29]:
data_df['workingLocations'] = data_df['workingLocations'].apply(lambda x: list(map(lambda u:u['cityName'],ast.literal_eval(x))))

Tại cột "industries" ta sẽ lấy `value` của `key` **'industryName** làm giá trị.

In [30]:
data_df['industries'] = data_df['industries'].apply(lambda x: list(map(lambda u:u['industryName'],ast.literal_eval(x))))

Sau khi khám phá & tiền xử lý dữ liệu xong, ta sẽ xuất ra một file .csv khác để phục vụ cho các bước tiếp theo.

In [31]:
data_df.to_csv('data/job_list.csv')